@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans_7pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans_7pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans_7pt-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans_7pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
